
@{
    ViewData["Title"] = "DecodingError";
}

<h2>Impossible de lire le code-barre. Voulez-vous réessayer ?</h2>

<div class="form-group" asp-action ="Index">
    <input type="submit" value="Rééssayer" class="btn btn-default"/>
</div>

