
@{
    ViewData["Title"] = "DecodingError";
}

<h2>Impossible de lire le code-barre. Voulez-vous réessayer ?</h2>

<div style="padding-top:40px" >
    <form asp-action="Index" >
        <input onclick="history.go(-1)" value="Retour" class="btn btn-primary" />
    </form>
</div>

