@model CoopShopInfos.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Bienvenue";
}

<html>
<head>
    <title>Scanner Code Barre</title>
    <script type="text/javascript" src="\lib\jquery\dist\jquery.min.js"></script>
    <script type="text/javascript" src="\lib\bootstrap\dist\js\bootstrap.min.js"></script>
    <link rel="stylesheet" href="\lib\bootstrap\dist\css\cerulean\bootstrap.min.css">
    <script type="text/javascript" src="\lib\serratus-quaggaJS-eff0c5a\dist\quagga.js"></script>

    <link rel="stylesheet" href="\lib\font-awesome-4.7.0\css\font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>

    <div class="container body-content">
        <h2>Bienvenue sur CoopShopinfos</h2>
        <h5>Le comparateur de prix des Oies Sauvages</h5>
        <h4>Pour entrer ici, il faut montrer patte blanche !</h4>
        <h4>Si vous ne possédez pas encore de compte, veuillez en créer un...</h4>

        
        <form action="@Url.Action("Login", "Account")">

            @*<label asp-for="UserName" class="control-label">Identifiant : </label>
            <input asp-for="UserName" class="form-control" name="username" />
            <span asp-validation-for="UserName" class="text-danger"></span>

            <label asp-for="Password" class="control-label">Mot de passe : </label>
            <input asp-for="Password" class="form-control" name="password" />
            <span asp-validation-for="Password" class="text-danger"></span>*@

            <input type="submit" class="btn btn-primary" value="Se connecter"/>

        </form>

        <form asp-action="Register" asp-controller="Account">
            <input type="submit" class="btn btn-default" value="Nouveau compte" />
        </form>
    </div>
</body>
</html>