
@{
    ViewData["Title"] = "DecodingError";
}

<h2>Unable to decode barcode. Would you like to retry ?</h2>

<div class="form-group" asp-action ="Index">
    <input type="submit" value="Retry" class="btn btn-default"/>
</div>

