@using System
@{
    ViewData["Title"] = "ShowPrices";
}
@model PricesViewModel

<form asp-action="PricesChart" asp-controller="Prices">
    <input type="submit" value="Graphique" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            Prix
        </th>
        <th>
            Date
        </th>

    </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model.Prices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDateTime)

                

            </td>



        </tr>
    }


    </tbody>
</table>


